
<div class="container">
  <%= simple_form_for([current_user, @post]) do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
<div class="container">
  <div class="row">
      <% @posts.each do |post| %>
        <div class="post col-4 d-flex flex-column justify-content-around p-2">
          <%= image_tag post.photo , style: 'height:100%;width:auto', class: 'rounded' %>
          <h5><%= post.title %></h5>
          <p><%= post.content[0..20]... %></p>
          <div class="d-flex justify-content-around">
            <% check_like = post.likes.find { |like| like.user_id == current_user.id && like.emoji_id == 1} %>
            <% if check_like %>
              <%= button_to "#{@emoji[0].symbol} #{post.likes.where(emoji_id: 1).count}", post_like_path(post, check_like), params: {emoji_id: "#{@emoji[0].id}"}, method: :delete %>
            <% else %>
              <%= button_to "#{@emoji[0].symbol} #{post.likes.where(emoji_id: 1).count}", post_likes_path(post), method: :post, params: {emoji_id: "#{@emoji[0].id}"} %>
            <% end %>

            <% check_like = post.likes.find { |like| like.user_id == current_user.id && like.emoji_id == 2} %>
            <% if check_like %>
              <%= button_to "#{@emoji[1].symbol} #{post.likes.where(emoji_id: 2).count}", post_like_path(post, check_like), method: :delete, params: {emoji_id: "#{@emoji[1].id}"} %>
            <% else %>
              <%= button_to "#{@emoji[1].symbol} #{post.likes.where(emoji_id: 2).count}", post_likes_path(post), method: :post, params: {emoji_id: "#{@emoji[1].id}"} %>
            <% end %>

            <% check_like = post.likes.find { |like| like.user_id == current_user.id && like.emoji_id == 3} %>
            <% if check_like %>
              <%= button_to "#{@emoji[2].symbol} #{post.likes.where(emoji_id: 3).count}", post_like_path(post, check_like), method: :delete, params: {emoji_id: "#{@emoji[2].id}"} %>
            <% else %>
              <%= button_to "#{@emoji[2].symbol} #{post.likes.where(emoji_id: 3).count}", post_likes_path(post), method: :post, params: {emoji_id: "#{@emoji[2].id}"} %>
            <% end %>

            <% check_like = post.likes.find { |like| like.user_id == current_user.id && like.emoji_id == 4} %>
            <% if check_like %>
              <%= button_to "#{@emoji[3].symbol} #{post.likes.where(emoji_id: 4).count}", post_like_path(post, check_like), method: :delete, params: {emoji_id: "#{@emoji[3].id}"} %>
            <% else %>
              <%= button_to "#{@emoji[3].symbol} #{post.likes.where(emoji_id: 4).count}", post_likes_path(post), method: :post, params: {emoji_id: "#{@emoji[3].id}"} %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
