
<div class="container">
  <%= simple_form_for([current_user, @post]) do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
<div class="container">
  <div class="row g-0 mt-2 d-flex justify-content-between flex-wrap">
      <% @posts.reverse.each do |post| %>
        <div class="post col-lg-3 col-sm-5 m-2 d-flex flex-column justify-content-between ced-card">
          <div class="img-div">
            <%= image_tag post.photo , class: 'ced-img' %>
          </div>
          <div class="ced-card-title">
          <h5 ><%= post.title %></h5>
          </div>
          <div class="ced-card-content">
            <p><%= post.content[0..100]... %></p>
          </div>
          <div class="d-flex justify-content-around ced-emoji-bar flex-wrap">
            <%= check_button(1,0,post) %>
            <%= check_button(2,1,post) %>
            <%= check_button(3,2,post) %>
            <%= check_button(4,3,post) %>
          </div>
        </div>
      <% end %>
  </div>
</div>
